################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/netcore.demo/bin/Debug
/netcore.demo/obj
